h1{
    font-size: 30px;
    text-align: center;
    color: #06e3f7
    }
    
    p{
    font-size: 20px;
    text-align: center;
    font-family: Helvetica, sans-serif;
    }
    
    body {
    background-color: #d9e806;
    }